[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=BatteryManager
Exec=/opt/BatteryManager/bin/BatteryManager
Icon=BatteryManager
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
